.container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 10rem;
  }
  
  .list {
    margin: 1rem;
    max-width: 70rem;
  }
  
  .list_item {
    display: grid;
    grid-template-columns:
    minmax(5rem, 7rem) /* Image */
    minmax(10rem, 20rem) /* Name */
    minmax(10rem, 15rem) /* Email */
    minmax(5rem, 10rem) /* Role */
    minmax(5rem, 10rem); /* Actions */
    font-size: 1.2rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
  }
  
  .list_item img {
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
    object-fit: cover;
  }
  
  .actions > a {
    margin-right: 1rem;
    color: #0370b9;
    cursor: pointer;
  }

  .employee {
    display: flex;
    flex-direction: column;
  }
  
  .employee_acion {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--primary-color);
  }

button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--primary-blue);
  }
